<div class="display">
  <div class="container1">
    <div class="child"></div>
  </div>
  <div class="container2">
    <div class="child">
      <form class="FormDisplay" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="firstname">First Name</label>
          <input
            name="firstname"
            class="form-control"
            type="text"
            formControlName="firstname"
          />
          <div
            *ngIf="
              userForm.get('firstname')?.invalid &&
              userForm.get('firstname')?.touched
            "
          >
            <span
              *ngIf="userForm.get('firstname')?.errors?.['required']"
              style="color: red"
            >
              First Name is required
            </span>
          </div>
        </div>
        <div>
          <label for="middlename">middle Name</label>
          <input
            name="middlename"
            class="form-control"
            type="text"
            formControlName="middlename"
          />
          <div
            *ngIf="
              userForm.get('middlename')?.invalid &&
              userForm.get('middlename')?.touched
            "
          >
            <span
              *ngIf="userForm.get('middlename')?.errors?.['required']"
              style="color: red"
              >middle name is required</span>
              <span
            *ngIf="userForm.get('middlename')?.getError('middlename_error')"
            style="color: red"
          >
            {{ userForm.get("middlename")?.getError("middlename_error") }}
          </span>
          </div>
        </div>
        <div>
          <label for="lastname">last Name</label>
          <input
            name="lastname"
            class="form-control"
            type="text"
            formControlName="lastname"
          />
          <div
            *ngIf="
              userForm.get('lastname')?.invalid &&
              userForm.get('lastname')?.touched
            "
          >
            <span
              *ngIf="userForm.get('lastname')?.errors?.['required']"
              style="color: red"
              >lastname name is required</span
            >
            <span
            *ngIf="userForm.get('lastname')?.getError('lastname_error')"
            style="color: red"
          >
            {{ userForm.get("lastname")?.getError("lastname_error") }}
          </span>
          </div>
        </div>
        <div>
          <label for="email">Email</label>
          <input
            name="email"
            class="form-control"
            type="email"
            formControlName="email"
          />
          <div
            *ngIf="
              userForm.get('email')?.invalid && userForm.get('email')?.touched
            "
          >
            <span
              *ngIf="userForm.get('email')?.errors?.['required']"
              style="color: red"
              >email required</span
            >
            <span
              *ngIf="userForm.get('email')?.errors?.['email']"
              style="color: red"
              >email required</span
            >
            <span
            *ngIf="userForm.get('email')?.getError('email_error')"
            style="color: red"
          >
            {{ userForm.get("email")?.getError("email_error") }}
          </span>
          </div>
        </div>
        <div>
          <label for="dateofbirth">Date of Birth</label>
          <div class="datepicker">
            <input
              class="form-control"
              placeholder="yyyy-mm-dd"
              name="dateofbirth"
              ngbDatepicker
              #d="ngbDatepicker"
              formControlName="dateofbirth"
            />
            <button
              class="btn btn-outline-secondary bi bi-calendar3 dateinput"
              (click)="d.toggle()"
              type="button"
            >
              Date
            </button>
          </div>
          <div
            *ngIf="
              userForm.get('dateofbirth')?.invalid &&
              userForm.get('dateofbirth')?.touched
            "
          >
            <span
              *ngIf="userForm.get('dateofbirth')?.errors?.['required']"
              style="color: red"
              >Date of Birth required</span
            >
            <span
              *ngIf="userForm.get('dateofbirth')?.getError('dateofbirth_error')"
              style="color: red"
            >
              {{ userForm.get("dateofbirth")?.getError("dateofbirth_error") }}
            </span>
          </div>
        </div>
        <div>
          <label for="phoneno">Phone Number</label>
          <input
            name="phoneno"
            class="form-control"
            formControlName="phoneno"
          />
          <div
            *ngIf="
              userForm.get('phoneno')?.invalid &&
              userForm.get('phoneno')?.touched
            "
          >
            <span
              *ngIf="userForm.get('phoneno')?.errors?.['required']"
              style="color: red"
            >
              phone Number required
            </span>
            <span
              *ngIf="userForm.get('phoneno')?.getError('phnoerror')"
              style="color: red"
            >
              {{ userForm.get("phoneno")?.getError("phoneno_error") }}
            </span>
          </div>
        </div>
        <div>
          <label for="password">Password</label>
          <input
            name="password"
            class="form-control"
            type="password"
            autocomplete="false"
            formControlName="password"
          />
          <div
            *ngIf="
              userForm.get('password')?.invalid &&
              userForm.get('password')?.touched
            "
          >
            <span
              *ngIf="userForm.get('password')?.errors?.['required']"
              style="color: red"
            >
              password Number required
            </span>
          </div>
        </div>
        <div>
          <label for="conformPassword">conform-Password</label>
          <input
            class="form-control"
            type="conformPassword"
            autocomplete="false"
            formControlName="conformPassword"
          />
          <div
            *ngIf="
              userForm.get('conformPassword')?.invalid &&
              userForm.get('conformPassword')?.touched
            "
          >
            <span
              *ngIf="userForm.get('conformPassword')?.errors?.['required']"
              style="color: red"
            >
              conformPassword Number required
            </span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
